
@media screen and (max-width: 760px){

        body {
            font-family: 'Inter', sans-serif;
            background-color: hsl(36, 100%, 99%);
            margin: 0;
            padding: 10px 15px;
            width: auto;
        }

        .navbar {
            display: flex;
            flex-direction: row;
            padding: 30px 5px;
            padding-bottom: 10px;
            margin: auto;
            justify-content: center;
            align-items: center;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            left: 0;
            background-color: hsl(36, 100%, 99%);
        }

        .navbar div a{
            color: black;
            padding: 5px 5px;
            text-decoration: none;
        }

        .navbar div a:hover{
            color: hsl(5, 85%, 63%);
        }

        .grid-container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            row-gap: 50px;
            padding-top: 55px;
            width: 100%;
        }

            /*grid overall css:*/


        .grid-container div {
            font-size: 30p;
        }

        /*first article grid css:*/

        .FirstArticle picture,img{
            width: 100%;
            height: 60%;
        }

        .FirstArticle:hover{
            box-shadow: 3px 3px lightgray;
            transform: translateY(-3px);
            transition-duration: 0.4s;
        }

        .FirstArticleFlexbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-content: space-between;
        }

        .FirstArticleFlexbox a {
            color: white;
            background-color: hsl(5, 85%, 63%);
            padding: 10px 40px;
            font-size: 10px;
            font-weight: 700;
            text-decoration: none;
            text-align: center;
            letter-spacing: 2px;
        }

        .FirstArticleFlexbox a:hover{
            background-color: hsl(240, 100%, 5%);
        }

        #FirstArticleText {
            font-size: 15px;
            margin: 10;
            color: hsl(236, 13%, 42%);
        }

        #FirstArticleTextandLink{
            width: 100%;
            text-align: left;
            align-self: center;
        }

        #BrightFuture{
            text-align: left;
            align-self: flex-start;
            padding-right: 20px;
            font-weight: 800;
            font-size: 20px;
        }


        /*news grid css:*/

        .New {
            background-color: hsl(240, 100%, 5%);
            text-align: left;
            color: hsl(236, 13%, 42%);
            font-size: 15px;
        }

        .New h2{
            color: goldenrod;
            font-size: 30px;
            margin: 20px 15px;
        }

        .New:hover{
            box-shadow: 3px 3px lightgray;
            transform: translateY(-3px);
            transition-duration: 0.4s;
        }

        .New hr {
            width: 100%;
        }

        .NewArticles{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 80%;
            max-width: fit-content;
            margin: 15px;

        }

        .New a{
            text-decoration: none;
            font-size: 15px;
            font-weight: 800;
            color: white;
        }

        .New a:hover{
            color: goldenrod;
        }

        /*3articles grid css:*/

        .ThreeArticles {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-around;
        }

        .ThreeArticles .article1,.article2,.article3 {
            display: flex;
            padding-bottom: 30px;
        }

        .ThreeArticles .article1:hover,.article2:hover,.article3:hover{
            box-shadow: 3px 3px lightgray;
            transform: translateY(-3px);
            transition-duration: 0.4s;
        }

        .ThreeArticles img{
            width: 100%;
            height: 100%;
        }

        .img1,.img2,.img3 {
            width: 30%;
        }

        .text01,.text02,.text03 {
            width: 70%;
            padding-left: 20px;
        }

        .ThreeArticles h1 {
            margin: 0;
            color: hsl(233, 8%, 79%);
        }

        .ThreeArticles a {
            margin: 0;
            font-weight: 800;
            font-size: 13px;
            text-decoration: none;
            color: black;
        }

        .ThreeArticles a:hover{
            color: hsl(5, 85%, 63%);
        }

        .ThreeArticles p{
            font-size: 15px;
        }

}

@media screen and (min-width: 760px){

        body {
            font-family: 'Inter', sans-serif;
            background-color: hsl(36, 100%, 99%);
            margin: auto;
            padding: 50px 75px;
            width: auto;
        }

        /*navbar css:*/

        .navbar {
            display: flex;
            flex-direction: row;
            padding: 30px 75px;
            padding-bottom: 10px;
            margin: auto;
            justify-content: flex-end;
            align-items: center;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            left: 0;
            background-color: hsl(36, 100%, 99%);
        }

        .logo {
            margin-right: auto;
            padding-right: 10px;
            padding-left: 16px;
        }

        .navbar div a{
            color: black;
            padding: 15px 16px;
            text-decoration: none;
        }

        .navbar div a:hover{
            color: hsl(5, 85%, 63%);
        }

        /*grid overall css:*/

        .grid-container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 3fr 1fr;
            gap: 30px;
            row-gap: 50px;
            padding-top: 55px;
            width: 100%;
        }

        .grid-container div {
            font-size: 30p;
        }

        .ThreeArticles {
            grid-column-start: 1;
            grid-column-end: 3;   
        }

        /*first article grid css:*/

        .FirstArticle picture,img{
            width: 100%;
            height: 60%;
        }

        .FirstArticle:hover{
            box-shadow: 3px 3px lightgray;
            transform: translateY(-3px);
            transition-duration: 0.4s;
        }

        .FirstArticleFlexbox {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: space-between;
        }

        .FirstArticleFlexbox a {
            color: white;
            background-color: hsl(5, 85%, 63%);
            padding: 10px 40px;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 3px;
            text-decoration: none;
            text-align: center;
            width: 50%;
        }

        .FirstArticleFlexbox a:hover{
            background-color: hsl(240, 100%, 5%);
        }

        #FirstArticleText {
            font-size: 15px;
            margin: 10;
            color: hsl(236, 13%, 42%);
        }

        #FirstArticleTextandLink{
            width: 50%;
            text-align: left;
            align-self: center;
            padding-right: 10px;
        }

        #BrightFuture{
            width: 50%;
            text-align: left;
            align-self: flex-end;
            padding-right: 20px;
            font-weight: bolder;
            font-size: 20px;
        }


        /*news grid css:*/

        .New {
            background-color: hsl(240, 100%, 5%);
            text-align: left;
            color: hsl(236, 13%, 42%);
            font-size: 15px;
        }

        .New h2{
            color: goldenrod;
            font-size: 30px;
            margin: 20px 15px;
        }

        .New:hover{
            box-shadow: 3px 3px lightgray;
            transform: translateY(-3px);
            transition-duration: 0.4s;
        }

        .New hr {
            width: 100%;
        }

        .NewArticles{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 80%;
            max-width: fit-content;
            margin: 15px;

        }

        .New a{
            text-decoration: none;
            font-size: 15px;
            font-weight: 800;
            letter-spacing: 1px;
            color: white;
        }

        .New a:hover{
            color: goldenrod;
        }

        /*3articles grid css:*/

        .ThreeArticles {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .ThreeArticles .article1,.article2,.article3 {
            display: flex;
            width: 33.3%;
        }

        .ThreeArticles .article1:hover,.article2:hover,.article3:hover{
            box-shadow: 3px 3px lightgray;
            transform: translateY(-3px);
            transition-duration: 0.4s;
        }

        .ThreeArticles img{
            width: 100%;
            height: 100%;
        }

        .img1,.img2,.img3 {
            width: 30%;
        }

        .text01,.text02,.text03 {
            width: 70%;
            padding-left: 20px;
            padding-right: 60px;
        }

        .ThreeArticles h1 {
            margin: 0;
            color: hsl(233, 8%, 79%);
        }

        .ThreeArticles a {
            margin: 0;
            font-weight: bold;
            font-size: 15px;
            text-decoration: none;
            color: black;
        }

        .ThreeArticles a:hover{
            color: hsl(5, 85%, 63%);
        }

        .ThreeArticles p{
            font-size: 15px;;
        }

}